*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    background-color:aqua;
    width: 120px;
    height: 120px;
    margin: 10rem auto;
    display: grid;
    /* grid-template-rows: 100px 100px 100px ; */
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 10px ;
    grid-column-gap: 10px;
}

.grid-item{
    background-color: greenyellow;
    border: 2px solid black;

}
.a{
    background-color: aquamarine;
    text-align: center;
    margin: 5px;
    padding: auto;
    border-radius: 25px;
    color: blueviolet;
    list-style-type:circle;
    
    

}